@import url('https://fonts.googleapis.com/css2?family=Roboto+Serif:ital,wght@0,200;0,300;0,600;0,700;0,900;1,300;1,500;1,700;1,900&display=swap');

*{
    font-family: 'Roboto Serif', sans-serif;
    box-sizing: border-box;
    font-style: italic;
    font-weight: 100;
}
body{
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}
.navigation{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.navigation > button{
    flex: 0 0 calc(20% - 10px);
    margin: 5px;
    padding: 5px;
    min-height: 50px;

    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;

    background-color: rgb(7, 121, 73);
    color: rgb(255, 255, 255);
    border: 0px;
    transition: 0.2s ease all;
    transform: scale(1);
}
.navigation > button:hover{
    transform: scale(1);
}
.navigation > button:hover{
    background-color: rgb(17, 148, 94);
    color: white;
    transform: scale(1.05);
}
.navigation > button:active{
    background-color: rgb(7, 63, 39);
    color: white;
    transform: scale(1);
}
.navigation > button:focus{
    background-color: rgb(17, 148, 94);
    color: white;
}
p {
    margin-bottom: 0;
}
.navigation a {
    color: rgb(255, 255, 255);
    text-decoration: none;
    text-emphasis: none;
}

.title {
    font-weight: bolder;
}
.model__image {
    /* background: #5ebb39; */
    box-shadow: -10px 2px 10px 10px #fffed3;
    height: 250px;
    max-height: 300px;
    max-width: 300px;
    transition: 0.2s ease all;
    transform: scale(1);
}
.model__image:hover{
    transform: scale(1.05);
}
.model__info > .col{
    padding: calc(var(--bs-gutter-x) * .2);
    /* padding-left: calc(var(--bs-gutter-x) * .2); */
}
.model__info > .col > .info_card{
    background: rgb(238, 241, 241);
    min-height: 100px;
    height: 100%;
    padding: 10px;
    text-align: center;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    /* margin: 5px; */
}
/* .model__info > .col > .info_card:last-child {
    
} */

.model__extra > h1{
    font-weight: 100;
}

.modal__title {
    font-weight: 500;
    font-style: italic !important;
}
.modal-body li a{
    font-style: italic !important;
}
.modal-content *{
    font-style: normal;
}
.bibliography {
    position: fixed;
    bottom: 0;
    background-color: rgb(112, 133, 138);
    color: white;
    border-radius: 0px 15px 0px 0px;
}
.bibliography > button{
    border-radius: 0px 15px 0px 0px;
    background-color: black;
    color: white;
    border: 0;
    transition: 0.2s ease all;
    transform: scale(1);
}
.bibliography > button:hover{
    background-color: rgb(28, 30, 34);
    color: white;
    transform: scale(1.05);
}
.bibliography > button:active{
    background-color: rgb(18, 53, 73);
    color: white;
    transform: scale(1);
}
.bibliography > button:focus{
    background-color: rgb(18, 53, 73);
    color: white;
}
@media (max-width: 600px) {
    .navigation > button{
        flex: 0 0 calc(50% - 10px);
    }
}



/* TRANSITIONS */
.model__image--img,
.model__info,
.model__extra,
.title{
    transition: 0.5s ease all;
    transform: scale(0.9);
    opacity: 0;
}

.appear{
    transform: scale(1);
    opacity: 1;
}
/* .content{
    transition: 1s ease all;
    opacity: 1;
}
.start{
    opacity: 0;
} */
/*
//// Individual cards transition /////

.info_card-container--create{
    transition: 0.5s ease all;
    transform: scale(0.9);
    opacity: 0;
}
.info_card-container--normal{
    transform: scale(1);
    opacity: 1;
}
*/