@import url('https://fonts.googleapis.com/css2?family=Roboto+Serif:ital,wght@1,300&display=swap');
*{
    font-family: 'Roboto Serif', sans-serif;
    box-sizing: border-box;
}
body{
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}
.navigation{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.navigation > div{
    flex: 0 0 calc(20% - 10px);
    margin: 5px;
    padding: 5px;
    min-height: 50px;

    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;

    background-color: rgb(21, 195, 201);
    color: rgb(255, 255, 255);
}
a {
    color: rgb(255, 255, 255);
    text-decoration: none;
    text-emphasis: none;
}

.model__image {
    background: #5ebb39;
    height: 250px;
    max-height: 300px;
    max-width: 300px;
}
.model__info > .col{
    padding: calc(var(--bs-gutter-x) * .2);
    /* padding-left: calc(var(--bs-gutter-x) * .2); */
}
.model__info > .col > .info_card{
    background: rgb(238, 241, 241);
    min-height: 100px;
    padding: 10px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    /* margin: 5px; */
}

.model__extra {
    text-align: right;
}
@media (max-width: 600px) {
    .navigation > div{
        flex: 0 0 calc(50% - 10px);
    }
}